<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderItem">
      <h2 data-cy="orderItemDetailsHeading"><span>Order Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Item Id</span></dt>
        <dd>
          <span>{{ orderItem.id }}</span>
        </dd>
        <dt><span>Product Name</span></dt>
        <dd>
          <span>{{ orderItem.productName }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ orderItem.quantity }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ orderItem.price }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <!-- <button jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/order-item', orderItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button> -->
      <jhi-additem
        [availableQuantity]="orderItem.quantity"
        [productName]="orderItem.productName"
        [orderItemId]="orderItem.id"
        [price]="orderItem.price"
      ></jhi-additem>
    </div>
  </div>
</div>
