<div>
  <h2 id="page-heading" data-cy="OrderItemHeading">
    <span>Order Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-item"
        [routerLink]="['/order-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Order Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderItems?.length === 0">
    <span>No Order Items found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="orderItems && orderItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productName">
            <div class="d-flex">
              <span>Product Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span>Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span>Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orderItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order-item', orderItem.id, 'view']">{{ orderItem.id }}</a>
          </td>
          <td>{{ orderItem.productName }}</td>
          <td>{{ orderItem.quantity }}</td>
          <td>{{ orderItem.price }}</td>
          <td class="text-end">
            <div class="btn-group">
              <jhi-additem
                *jhiHasAnyAuthority="'ROLE_USER'"
                [availableQuantity]="orderItem.quantity"
                [orderItemId]="orderItem.id"
                [productName]="orderItem.productName"
                [price]="orderItem.price"
              ></jhi-additem>
              <button
                type="submit"
                [routerLink]="['/order-item', orderItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/order-item', orderItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(orderItem)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="orderItems && orderItems.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
