<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cart-item-heading" data-cy="CartItemCreateUpdateHeading">Update Quantity</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">Item ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_orderItemId">Cart Item Id</label>
          <input
            type="number"
            class="form-control"
            name="orderItemId"
            id="field_orderItemId"
            data-cy="orderItemId"
            [readonly]="true"
            formControlName="orderItemId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            [readonly]="true"
            formControlName="productName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_price">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="price"
            id="field_price"
            data-cy="price"
            [readonly]="true"
            formControlName="price"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input
            type="number"
            min="0"
            class="form-control"
            name="quantity"
            id="field_quantity"
            data-cy="quantity"
            formControlName="quantity"
          />
        </div>

        <!-- <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user"
            [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
