<div class="row">
  <span class="ecartLogo"></span>

  <div class="col-md-9 data">
    <h1 class="display-4"><span>E-Commerce Application</span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you already have an account </span>
        <a class="alert-link" (click)="login()">sign in</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>
  </div>
</div>
