<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cartItem">
      <h2 data-cy="cartItemDetailsHeading"><span>Cart Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cartItem.id }}</span>
        </dd>
        <dt><span>Order Item Id</span></dt>
        <dd>
          <span>{{ cartItem.orderItemId }}</span>
        </dd>
        <dt><span>Product Name</span></dt>
        <dd>
          <span>{{ cartItem.productName }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ cartItem.price }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ cartItem.quantity }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ cartItem.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <!-- <button jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/cart-item', cartItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button> -->
    </div>
  </div>
</div>
